---
import BaseLayout from './BaseLayout.astro';
import Header from '@/components/layout/Header.astro';
import Footer from '@/components/layout/Footer.astro';

interface Props {
  title: string;
  description?: string;
  headerVariant?: 'default' | 'overlay';
  mainHeaderOffset?: boolean;
}

const {
  title,
  description,
  headerVariant = 'default',
  mainHeaderOffset = headerVariant === 'default',
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header />
  <main class="main">
    <slot />
  </main>
  <Footer />
</BaseLayout>

<style lang="scss">
  @use 'foundation' as *;
  .main {
    
  }
</style>
